paper_test/src/letter_raw/d1.tif
paper_test/src/letter_raw/d2.tif
paper_test/src/letter_raw/d3.tif
paper_test/src/letter_raw/d4.tif
paper_test/src/letter_raw/d5.tif
paper_test/src/letter_raw/d6.tif
paper_test/src/letter_raw/d7.tif
paper_test/src/letter_raw/dg1.tif
paper_test/src/letter_raw/dg2.tif
paper_test/src/letter_raw/dg3.tif
paper_test/src/letter_raw/dg4.tif
paper_test/src/letter_raw/dg5.tif
paper_test/src/letter_raw/gb1.tif
paper_test/src/letter_raw/gb2.tif
paper_test/src/letter_raw/gb3.tif
paper_test/src/letter_raw/gb4.tif
paper_test/src/letter_raw/gb5.tif
paper_test/src/letter_raw/gb6.tif
